*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.progress1{
    width: 100%;
    height: 8px;
    background-color:black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.progressbar{
    height: 8px;
    background:whitesmoke;
    width: 0%;
}

body{
    background-image: linear-gradient(60deg,#045559,#936506,#930A06,#936506,#5C8906,#045559,#930A06,#936506);
    background-size: 600% 600%;
    animation: bgAnimatedGradient 2s infinite linear;
}
@keyframes bgAnimatedGradient{
    0%
    {
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    }
}

#loader{
    position: fixed;
    background: #203358;   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 1;
    z-index: 2;
}

#head1{
    position: relative;
    font-size: 6em;
    color: #222;
    text-transform: uppercase;
    border-bottom: 16px solid #222;
    letter-spacing: 0.05cm;
    line-height: 1.2em;
}

#head1::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #276C20;
    overflow: hidden;
    border-bottom: 16px solid #276C20;
    animation: animate 3s linear infinite;
}

@keyframes animate
{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


.type {
   
    height: 15vh;
    display: grid;
    place-items: top;
  }
  
  .logo {
    font-family: sans-serif;
    text-align: top;
    color: #000000ab;
    margin-top: 0;
    font-size: 80px;
    font-weight: 800;
    text-decoration-style: solid;
    width: 5ch;
    animation: typing .8s steps(5), blink .5s step-end infinite alternate;
    animation-delay: 3s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    
    
  }
  
  @keyframes typing{
    from {
      width: 0
    }
   
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(60deg,#045559,#936506,#930A06,#936506,#5C8906,#045559,#930A06,#936506);
    /*background-image: linear-gradient(60deg,#18514D,#203358,#276C20,#203358,#276C20,#18514D,#203358);
    background-image: linear-gradient(60deg,#003b3e,#002e30,#051745,#0b308e,#005105,#003b3e,#017a80);
    background-image: linear-gradient(60deg,#045559,#0E2663,#05740C,#0E2663,#045559,#05740C,#0E2663);*/
    background-size: 600% 600%;
    animation: bgAnimatedGradient 4s infinite linear;
    
}
@keyframes bgAnimatedGradient{
    0%
    {
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    }
}

.container{
    padding: 20px 10%;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
/*nav ul{
    display:inline-block;
    list-style:none;
    margin: 10px 30px;
    position:relative;
}*/

nav ul{
    font-family: sans-serif;
    text-align: top;
    color: #000000ab;
    margin-top: 0;
    font-size: 50px;
    font-weight: 500;
    text-decoration-style: solid;
    width: 21ch;
    animation: typing .5s steps(21), blink .5s step-end infinite alternate;
    animation-delay:5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    color: #fff;
    text-decoration:none;
    font-size:30px;
    font-weight: 600;
}
nav ul::after{
    content:'';
    width: 0;
    height: 3px;
    background:#1E3F1A;
    position:absolute;
    left: 0;
    bottom:-6px;
}
nav ul:hover::after{
    width :100%;
}

.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p {
    margin-left: 0%;
    font-size: 75px;
    font-weight: 800;
    text-decoration-style: solid;
    text-decoration: overline;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 15s linear infinite;
    background-color: #045559;

}
.text-box h2 span{
    font-size: 40px;
    font-weight: 400;
    margin-left: 10px;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
/*----------------------------------------about-------------------------------*/
#about{
    padding:0 0;
    color: #ababab;

}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.container1{
    background-image: url(images/foss-abt.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius:15px;
    margin-top: 10%;
    margin-left: 10%;
    margin: auto;
}
.about-col-2{
    flex-basis: 60%;
    color: #1d0e0e;
    margin: auto;
}
.subs-title{
    font-size: 60px;
    font-style:initial;
    font-weight: 800;
    color: #0e9482;
    -webkit-text-stroke: 1px #fff;
}
.about-col-2 p{
    font-size: medium;
    font-style:initial;
    font-weight: 800;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: #ff6596;
    font-weight: 700;
}
.tab-links{
    margin-right: 50px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 75%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: tomato;
    font-weight: 600;
}
.tab-contents ul li span{
    color: #b5476b;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.actice-tab{
    display: block;
}


*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    :root {
      --color-primary: #f6aca2;
      --color-secondary: #f49b90;
      --color-tertiary: #f28b7d;
      --color-quaternary: #f07a6a;
      --color-quinary: #ee6352;
      /*
          --color-primary: #5192ED;
          --color-secondary: #69A1F0;
          --color-tertiary: #7EAEF2;
          --color-quaternary: #90BAF5;
          --color-quinary: #A2C4F5;
          */
    }

  

    .text_shadows {
      text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
      font-family: bungee, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: calc(2rem + 5vw);
      text-align: center;
      margin: 0;
      color: var(--color-primary);
      color: transparent;
      background-color: white;
      background-clip: text;
      animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
      letter-spacing: 0.4rem;
    }

    @keyframes shadows {
      0% {
        text-shadow: none;
      }

      10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
      }

      20% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary);
      }

      30% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
      }

      40% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
          12px 12px 0 var(--color-quinary);
      }

      50% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
          12px 12px 0 var(--color-quinary);
      }

      60% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
          12px 12px 0 var(--color-quinary);
      }

      70% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
      }

      80% {
        text-shadow: 3px 3px 0 var(--color-secondary),
          6px 6px 0 var(--color-tertiary);
      }

      90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
      }

      100% {
        text-shadow: none;
      }
    }

    @keyframes move {
      0% {
        transform: translate(0px, 0px);
      }

      40% {
        transform: translate(-12px, -12px);
      }

      50% {
        transform: translate(-12px, -12px);
      }

      60% {
        transform: translate(-12px, -12px);
      }

      100% {
        transform: translate(0px, 0px);
      }
    }